:root
{
    --header-color: #000000d5;
    --accent-color: #6398e9;
    --accent-color-alt: #71a3ee;
    --secondary-text-color: #888;
    /* --accent-color: #fff; */
    overflow-x: hidden;
}

html
{
    overflow-x: hidden;
}

body
{
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
    background-color: #000;
    font-family: Lexend, Arial, Helvetica, sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

h1
{
    color: #fff;
    font-size: 90px;
    line-height: 100px;
    margin: 0;
    font-weight: 700;
}

h2
{
    color: #fff;
    font-size: 30px;
    line-height: 35px;
    margin: 15px 0;
    font-weight: 500;
}

h3
{
    color: #fff;
    font-size: 20px;
    line-height: 25px;
    margin: 0;
    font-weight: 500;
}

p
{
    color: #fff;
    font-size: 17px;
    line-height: 20px;
}

a
{
    text-decoration: none;
    color: #fff;
}

section
{
    width: 90%;
    max-width: 1700px;
}

.scroll_indicator
{
    width: 3px;
    height: 100px;
    margin: 0 auto;
    cursor: pointer;
}

.scroll_indicator:after
{
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background-color: #fff;

    animation: scroll_indicator 3s ease infinite;
    -webkit-animation: scroll_indicator 3s ease infinite;
}

@keyframes scroll_indicator 
{
    0%, 80% { height: 0;}
    90% { height: 100%; transform: translateY(0);} 
    100% { height: 0; transform: translateY(100px); } 
}

/* Scroll element */
.horizontal_scroll
{
    position: relative;
    width: 100%;
    padding-bottom: 20px;
    
    /* Div whose content can be scrollable */
    > div
    {
        overflow-y: hidden;
        overflow-x: auto;

        position: relative;
        width: 100%;
        padding: 0 15%;
        margin: 0 -15%;

        scrollbar-width: none;
        -ms-overflow-style: none;
        ::-webkit-scrollbar { display: none; }
    }

    /* Scrollable box */
    > div > div
    {
        display: flex;
        justify-content: start;
        align-items: start;
        gap: 20px;
        width: fit-content;
        padding-right: 30%;
    }
}

.horizontal_scroll::before,
.horizontal_scroll::after
{
    content: "";
    position: absolute;
    top: 0;
    display: block;
    height: 100%;
    width: 15%;
    z-index: 100;

}

.horizontal_scroll:before
{
    left: -15%;
    background: linear-gradient(to right, #000, transparent);
}

.horizontal_scroll:after
{
    right: -15%;
    background: linear-gradient(to right, transparent, #000);
}
