:root
{
    --header-color: #000000e1;
    --accent-color: #6398e9;
}

body
{
    margin: 0;
    overflow-x: hidden;
    background-color: #000000;
    font-family: Lexend, Arial, Helvetica, sans-serif;
}

h1
{
    color: #fff;
    font-size: 75px;
    line-height: 85px;
    margin: 0;
    font-weight: 00;
}

p
{
    color: #fff;
    font-size: 17px;
    line-height: 20px;
}