#Hero
{
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    #Hero_details
    {
        position: relative;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 5px;

        .scroll_indicator
        {
            position: absolute;
            bottom: -130px;
        }
    }
}

@media (width < 700px) 
{
    #Hero
    {
        #Hero_details
        {
            width: 85%;
        }

        h1
        {
            font-size: 50px;
            line-height: 55px;        
        }   
    }
}