.text_and_image_right,
.text_and_image_left
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin: 10px 0;

    img,
    div
    {
        display: flex;
        flex-direction: column;
        width: calc(50% - 35px);
        max-width: 700px;
    }

    .button
    {
        margin-top: 15px;
    }
}

.text_and_image_left
{
    flex-direction: row-reverse;
    text-align: right;

    div 
    {
        align-items: end;
    }
}

@media (width < 750px)
{
    .text_and_image_right,
    .text_and_image_left
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 70px;

        img,
        div
        {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: start;
            text-align: left;
        }
    }
}