#News
{
    article
    {
        max-width: 90vw;
        width: 400px;
        height: 400px;
        background-color: #101010;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 20px;

        .imageContainer
        {
            width: 100%;
            height: 200px;
            overflow: hidden;

            img
            {
                transition: all 0.3s;
                width: 100%;
            }
        }

        .news_card_info
        {
            position: relative;
            width: calc(100% - 40px);
            height: 200px;
            margin: auto;

            :nth-child(1) 
            {
                color: var(--secondary-text-color);
                text-transform: uppercase;
                font-size: 16px;
                margin: 15px 0 11px 0;
            }

            :nth-child(3)
            {
                font-size: 15px;
                position: absolute;
                bottom: 15px;
            }
        }
    }

    article:hover img
    {
        transform: scale(1.05);
    }
}

#News_scroll_arrows
{
    display: flex;
    justify-content: space-between;
    width: 100%;

    div
    {
        transition: all 0.1s;
        height: 20px;
        width: 20px;
        padding: 10px;
        border-radius: 50%;
        background-color: var(--accent-color);
        cursor: pointer;
    }

    div:hover,
    div:active
    {
        background-color: var(--accent-color-alt);
        box-shadow: 0 0 10px var(--accent-color);
    }
    
    img
    {
        height: 100%;
        width: 100%;
        pointer-events: none;
        user-select: none;
    }
}